<body class="chall">

    <div class="jumbotron container panel">
        <div class="container">
            <div class="typewriter">
                <h1>Challenge #1</h1>
            </div>
            <h3>Write a function that will return the sum of two numbers equal to 4</h3>
            <a href="/"><button class="btn btn-primary btn-lg">Home Page</button></a>
            <a href="/challenge2"><button class="btn btn-primary btn-lg">Next Challenge</button></a>
        </div>
    </div>

    <div class="container">
        <form action="/api/challenge1" method="POST">
            

            <textarea name="code" id="code-val" cols="100" rows="10" class="form-control form-rounded"></textarea>
            <br />
            <input type="submit" id="code" value="Submit" class="form-control form-rounded">
        </form>
    </div>

</div>
</body>