<body class="chall">

    <div class="jumbotron container panel">
        <div class="container">
            <div class="typewriter">
                <h1>Challenge #10</h1>
            </div>
            <h3>
                Write a function called lucky_sevens which takes an array of integers that
                return true if any three consecutive elements sum to 7.
                e.g. [2,1,5,1,0]
            </h3>
        </div>
    </div>

    <div class="container">
        <form action="/api/{{gameId}}/challenge10" method="POST">
            <textarea name="code" id="code-val" cols="100" rows="10" class="form-control form-rounded" minlength="10"></textarea>
            <br />
            <input type="submit" id="code" value="Done" class="btn btn-primary btn-lg right">
        </form>
    </div>
</body>