<h1>Challenge #3</h1>

<a href="/"><button>Home Page</button></a>
<a href="/challenge4"><button>Next Challenge</button></a>

<form action="/api/testcode" method="POST">
    <p>
        Write a function to reverse the following string: NodeJS
    </p>
    <div>
        <textarea name="code" id="code-val" cols="100" rows="10"></textarea>
    </div>
    <div>
        <input type="submit" id="code" value="Submit">
    </div>
</form>