<body class="chall">

    <div class="jumbotron container-fluid">
        <div class="container">
            <div class="typewriter"><h1>Challenge #1</h1></div>
            <a href="/"><button class="btn btn-primary btn-lg">Home Page</button></a>
            <a href="/challenge2"><button class="btn btn-primary btn-lg">Next Challenge</button></a>
        </div>
    </div>

<div class="container">
    <form action="/api/code" method="POST">
    <h2>Write a function that will return the sum of two numbers equal to 4</h2>
  
  <textarea name="code" id="code-val" cols="100" rows="10" class="form-control form-rounded"></textarea>
  <br />
<input type="submit" id="code" value="Submit" class="form-control form-rounded">
</form>
</div>

    {{!-- <div class= "container box">
        <form action="/api/code" method="POST">
            <p>
                Write a function that will return the sum of two numbers equal to 4
            </p>
            <div>
                <textarea name="code" id="code-val" cols="100" rows="10"></textarea>
            </div>
            <div>
                <input type="submit" id="code" value="Submit" class="btn btn-primary btn-lg">
            </div>
        </form>
    </div> --}}
    
</body>