<h1>Challenge #1</h1>

<a href="/"><button>Home Page</button></a>
<a href="/challenge2"><button>Next Challenge</button></a>

<form action="/api/code" method="POST">
    <p>
        Write a function that will return the sum of two numers equal to 4
    </p>
    <div>
        <textarea name="code" id="code-val" cols="100" rows="10"></textarea>
    </div>
    <div>
        <input type="submit" id="code" value="Submit">
    </div>
</form>