<h1>Challenge #4</h1>

<a href="/"><button>Home Page</button></a>

<form action="/api/testcode" method="POST">
    <p>
        Write a function that will find the missing number in the array: 
        [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 12, 13, 14, 15, 16, 17, 18, 19, 20]
    </p>
    <div>
        <textarea name="code" id="code-val" cols="100" rows="10"></textarea>
    </div>
    <div>
        <input type="submit" id="code" value="Submit">
    </div>
</form>
