<body class="chall">

    <div class="jumbotron container panel">
        <div class="container">
            <div class="typewriter">
                <h1>Challenge #8</h1>
            </div>
            <h3>
                This challenge is to determine if there is some subset of numbers in an array that can sum number S.
                Naive solution: generate every possible set(the power set),
                and then check if the sum of any of these sets equals the sum S.
                e.g. arr = [1,2,3] sum = 5
            </h3>
        </div>
    </div>

    <div class="container">
        <form action="/api/{{gameId}}/challenge8" method="POST">
            <textarea name="code" id="code-val" cols="100" rows="10" class="form-control form-rounded" minlength="10"></textarea>
            <br />
            <input type="submit" id="code" value="Submit" class="btn btn-primary btn-lg right">
            <a href="/challenge/{{gameId}}/challenge9"><button class="btn btn-primary btn-lg">Next Challenge</button></a>
            <input type="submit" formaction="/api/quit" method="POST" value="Done" class="btn btn-primary btn-lg btn-danger">
        </form>
    </div>
</body>