<h1>Challenge #2</h1>

<a href="/"><button>Home Page</button></a>
<a href="/challenge3"><button>Next Challenge</button></a>

<form action="/api/testcode" method="POST">
    <p>
        Write code that will return:
        Fizz if it is divisible by 3
        Buzz if it is divisible by 5
        FizzBuzz if it is divisible by 3 and 5
    </p>
    <div>
        <textarea name="code" id="code-val" cols="100" rows="10"></textarea>
    </div>
    <div>
        <input type="submit" id="code" value="Submit">
    </div>
</form>