<body class="chall">

    <div class="jumbotron container panel">
        <div class="container">
            <div class="typewriter">
                <h1>Challenge #9</h1>
            </div>
            <h3>
                Given a number N that represents where the minute hand currently is on a clock. 
                Your program should return the angle that is formed by the minute hand and the 12 o'clock mark on the clock.
                e.g. 15
            </h3>

            <a href="/"><button class="btn btn-primary btn-lg">Home Page</button></a>
            <a href="/challenge10"><button class="btn btn-primary btn-lg">Next Challenge</button></a>
        </div>
    </div>

    <div class="container">
        <form action="/api/challenge9" method="POST">


            <textarea name="code" id="code-val" cols="100" rows="10" class="form-control form-rounded"></textarea>
            <br />

            <input type="submit" id="code" value="Submit" class="form-control form-rounded">

        </form>
    </div>
</body>