<body id="home">

{{!-- Header jumbotron--}}
<div class="jumbotron container panel">
    <div class="container">
        <div class="typewriter">
            <h1>Codebusters</h1>
        </div>
        <h3>Test your skills by completing the next coding coding challenges. You will earn points for all correct 
        answers. Move up the rankings as you compete with other web developers. Good luck! 
        </h3>

        <a href="/"><button class="btn btn-primary btn-lg">Home Page</button></a>
        <a href="/challenge1"><button class="btn btn-primary btn-lg">Code Challenge</button></a>
    </div>
</div>

{{!-- Leaderboard Container--}}
<div class="container panel">
    <table class="table table-bordered">
        <thead>
            <tr>
                <th scope="col">Ranking #</th>
                <th scope="col">Player Name</th>
                <th scope="col">Player Age</th>
                <th scope="col">Connect</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <th scope="row">1</th>
                <td>Mark</td>
                <td>34</td>
                <td>@mdo</td>
            </tr>
            <tr>
                <th scope="row">2</th>
                <td>Jacob</td>
                <td>33</td>
                <td>@fat</td>
            </tr>
            <tr>
                <th scope="row">3</th>
                <td colspan="2">Larry the Bird</td>
                <td>@twitter</td>
            </tr>
        </tbody>
    </table>
</div>
</body>