<h1>Home Page</h1>
<h4>user: {{currentUser}}</h4>

<a href="/challenge1"><button>Code Challenge</button></a>
<a href="/users/register"><button>Register</button></a>
<a href="/users/login"><button>Login</button></a>
