<body id="home">
    {{!-- Header jumbotron--}}
    <div class="jumbotron container panel">
        <div class="container">
            <div class="typewriter">
                <h1>Codebusters</h1>
            </div>
            <h3>Test your skills by completing the next coding coding challenges. You will earn points for all correct
                answers. Move up the rankings as you compete with other web developers. Good luck!
            </h3>
            {{#if currentUser}}
            <a class="btn btn-primary btn-lg" href="/users/code">Start Coding Challenge</a>
            {{/if}}
            {{#unless currentUser}}
            <button type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#myModal">
                Start Coding Challenge
            </button>
            {{/unless}}
        </div>
    </div>

    {{!-- Leaderboard Container--}}
    <div class="container panel">
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th scope="col">Ranking #</th>
                    <th scope="col">Player Name</th>
                    <th scope="col">Score</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <th>{{id}}</th>
                    <td>{{user.fullname}}</td>
                    <td>{{user.score}}</td>
                </tr>
            </tbody>
        </table>
    </div>
</body>