body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-image: url("/images/bg_1.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

nav {
    opacity: 0.93;
    margin-bottom: 25px;
}

#user {
    position: absolute;
    top: 0em;
    right: 1em;
    font-weight: 600;
}

#error, #success {
    font-size: 1.2em;
    font-weight: 600;
}

.content {
    flex: 1 0 auto;
}

.container.row {
    opacity: .92;
}

.card.grey.darken-2.z-depth-5 {
    opacity: 0.92;
    min-height: 400px;
}

h2.center {
    padding-top: 20px;
}

.typewriter {
    font-family: Lucida Sans Typewriter, Lucida Console, monaco, Bitstream Vera Sans Mono, monospace !important;
    overflow: hidden;
    white-space: nowrap;
    margin: 0 auto;
    border-right: .15em solid black;
    animation:
        typing 3.5s steps(40, end),
        blink-caret .75s step-end infinite;
    color: teal;
    font-weight: 800;
    text-align: center;
}

@keyframes typing {
    from {
        width: 0
    }

    to {
        width: 100%
    }
}

@keyframes blink-caret {
    from,
    to {
        border-color: transparent
    }

    40% {
        border-color: teal;
    }
}

.challenges {
    background-image: url("/images/img3.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.text-center {
    font-size: 1.5;
}

tbody {
    counter-reset: rowNumber;
}

tbody tr {
    counter-increment: rowNumber;
}

tbody tr td:first-child::before {
    content: counter(rowNumber);
    min-width: 1em;
    margin-right: 0.5em;
}

.card, .modal-content {
    border-radius: 5px;
}

.footer {
    margin-top: 20px;
    font-size: 1.3em;
    text-align: center;
}
