body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    font-family: Lucida Sans Typewriter,Lucida Console,monaco,Bitstream Vera Sans Mono,monospace; }

.content {
    flex: 1 0 auto;
}

.footer {
    margin-top: 20px;
    font-size: 1.1rem;
    text-align: center;
    color: red;
}

#tetris {
    width: 300px;
    height: 600px;
    border: 1px solid rgb(23, 21, 124);
}

#home {
    background-image: url("img2.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 100%;
    color:black;
    
}

.typewriter h1 {
    overflow: hidden; /* Ensures the content is not revealed until the animation */
    border-right: .15em solid black; /* The typwriter cursor */
    white-space: nowrap; /* Keeps the content on a single line */
    margin: 0 auto; /* Gives that scrolling effect as the typing happens */
    letter-spacing: .10em; /* Adjust as needed */
    animation: 
      typing 3.5s steps(40, end),
      blink-caret .75s step-end infinite;
    color: red;
  }
  
  /* The typing effect */
  @keyframes typing {
    from { width: 0 }
    to { width: 100% }
    
  }
  
  /* The typewriter cursor effect */
  @keyframes blink-caret {
    from, to { border-color: transparent }
    50% { border-color: red; }
  }

.table {
    background-color: aliceblue;
    color: black;
    
}

.chall {
    background-image: url("img3.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 100%;
    /* color: yellow; */
    font-family: Lucida Sans Typewriter,Lucida Console,monaco,Bitstream Vera Sans Mono,monospace; 
}


.boxes {
    margin: 0 auto;
    text-align: center;

}


.jumbotron {
    opacity: 0.65;
    padding: 2% 5%;
    text-align: center;
    color: black
};

.btn-primary {
    margin-top: 50px;
}

.form-rounded {
    border-radius: 1rem;
    }