body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    
}

.content {
    flex: 1 0 auto;
}

.footer {
    margin-top: 20px;
    font-size: 1.1rem;
    text-align: center;
}

#tetris {
    width: 300px;
    height: 600px;
    border: 1px solid green;
}

#home {
    background-image: url("img2.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 100%;
    color: aliceblue;
}

.typewriter h1 {
    overflow: hidden; /* Ensures the content is not revealed until the animation */
    border-right: .15em solid aliceblue; /* The typwriter cursor */
    white-space: nowrap; /* Keeps the content on a single line */
    margin: 0 auto; /* Gives that scrolling effect as the typing happens */
    letter-spacing: .15em; /* Adjust as needed */
    animation: 
      typing 3.5s steps(40, end),
      blink-caret .75s step-end infinite;
  }
  
  /* The typing effect */
  @keyframes typing {
    from { width: 0 }
    to { width: 100% }
    
  }
  
  /* The typewriter cursor effect */
  @keyframes blink-caret {
    from, to { border-color: transparent }
    50% { border-color: aliceblue; }
  }

.table {
    background-color: aliceblue;
    color: black;
    
}


